<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/yi_stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
    <title>Fitness Tracking Pro</title>
</head>
<body>
    <section class ="showcase">
        <header>
            <img src="images/Logo design.png" alt="Fitness Pro design">
              <!-- <h1>Running/Weightlifting Tracking</h1> -->
              <nav>
                  <ul>
                      <li><a href="yi_index.ejs" title="Track your Weight">Weight Tracking</a></li>
                      <li><a href="plans.ejs" title="Plan a Custom Workout">Custom Plans</a></li>
                      <li><a href="running.ejs" title="Running/Weightlifting Tracking">Running/Weightlifting Tracking</a></li>
                  </ul>
                </nav>
        </header>
          <video src="images/gym.mp4.mp4" type="video/mp4" muted loop autoplay></video>    
          <div class="overlay"></div>
          <ul class = social>
              <li><a href="images/facebook.jpg"><img scr="facebook.jpg" alt=""/></a></li>
              <li><a href="images/instegram.png"><img scr="instegram.png" alt=""/></a></li>
          </ul>
    </section>
</body>
</html>