<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Workout Plans</title>
    <link rel="stylesheet" href="css/yi_stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
    <script src="js/planscripts.js" defer></script>
</head>


<body>
    <header class="center">
        <img src="images/Logo design.png" alt="Ftness Pro design">
        <h1>Custom Workout Plan</h1>
        <nav>
            <ul>
                <li><a href="/" title="Login Page">Home</a></li>
                <li><a href="running.ejs" title="Track and Custom different Running/Weighlifting Workout">Running/Weightlifting<br>Tracking</a></li>
                <li><a href="yi_index.ejs" title="Track your Weight">Weight Tracking</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="entries">
            <h2>My Entries</h2>
            <ul class='plan'>
                <% for (const facts of plans) { %>
                <li>
                    <%= facts.entryid %> <%= facts.title %>
                    <%= facts.plan %>
                </li>
                <% } %>
            </ul>
        </div>

            <div class="text-box">
                <form action="/newplan" method="POST">
                    <input type="text" name="title" placeholder="Enter the title of your plan"/>
                    <textarea class ='text-area plans' name="plan" placeholder="Please enter your plan"></textarea>
                    <!-- <input type="text" name="title" placeholder="Enter the title of your plan"/> -->
                    <input type="submit" value="Click here to submit the form"/>
                </form>
                <form action="/editplan" method="POST">
                    <!-- <input type="text" name="plan" placeholder="Enter your edited plan"/> -->
                    <input type="text" name="id" placeholder="ID to edit"/>
                    <textarea class ='text-area plans' name="plan" placeholder="Enter your edited plan"></textarea>
                    <input type="submit" value="Click here to edit"/>
                </form>
                <form action="/deleteplan" method="POST">
                    <input type="text" name="id" placeholder="ID to delete"/>
                    <input type="submit" value="Click here to remove"/>
                </form>
            </div>

            <div class="button-headers">
                <h3>New Plan</h3>
                <h3>Edit Plan</h3>
                <h3>Delete Plan</h3>
            </div>

    </main>
</body>

</html>